<%= render 'layouts/flash' %>
<% if @friends %>
  <ul class="list-group pb-2">
    <% @friends.each do |f| %>
      <li class="list-group-item">
        <div class="d-flex justify-content-between">
          <div class="col-9 d-flex align-items-center"><%= f.fullname %></div>
          <div class="col-3">
            <div class="row">
              <div class="col">
                <%= link_to "View", "#", class: "btn btn-link" %>
              </div>
              <div class="col">
                <% if current_user.not_friend?(f.id) %>
                  <%= link_to "Follow", "#", class: "btn btn-link" %>
                <% else %>
                  <%= link_to "Unfollow", "#", class: "btn btn-link text-danger", data: { confirm: "Are you sure?" }, method: :delete %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>