<h1>My friends</h1>
<%= form_tag search_friends_path, remote: true, method: :get do %>
  <div class="form-group d-flex flex-nowrap w-100 mt-2">
    <div class="w-100 pr-0">
      <%= text_field_tag :friend, params[:friend], placeholder: "Friend name", autofocus: true, class: "form-control form-control-lg" %>
    </div>
    <div class="ml-2">
      <%= button_tag type: :submit, class: "btn btn-success" do %>
        <%= fa_icon 'search 2x' %>
      <% end %>
    </div>
  </div>
<% end %>
<div id="result"></div>
<div class="card-columns pt-2">
  <%= render 'friends/list' %>
</div>