<h1>My portfolio</h1>
<div class="pt-5">
  <h3>Search stocks</h3>
  <%= form_tag search_stock_path, remote: true, method: :get do %>
    <div class="form-group d-flex flex-nowrap w-100">
      <div class="w-100 pr-0">
        <%= text_field_tag :stock, params[:stock], placeholder: "Stock ticker symbol", autofocus: true, class: "form-control form-control-lg" %>
      </div>
      <div class="ml-2">
        <%= button_tag type: :submit, class: "btn btn-success" do %>
          <%= fa_icon 'search 2x' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div id="result"></div>
<% if !@tracked_stocks.empty? %>
  <%= render 'stocks/list' %>
<% end %>
